@tailwind base;
@tailwind components;
@tailwind utilities;


 .playwrite-ar {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  background-color: #4C061D;
  font-family: "Playwrite AR";
}

Navigation{
  text-align:right;
}

/*header{
  color: #db504a;
  font-size: 70px;
}
 */
